@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

@font-face {
  font-family: "MyFont";
  src: url(resources/fonts/MyFont-Regular[WIP].otf);
}

html {
    scroll-behavior: smooth!important;
  }

  .title {
    width: 100%;
    height: auto;
  }

  h2 {
    font-size: clamp(10px, 1.8rem, 100px);
    letter-spacing: 0.2rem;
    text-align: center;
  
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: italic;
  }
  
  h3 {
    font-size: 25px;
    text-align: center;

    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  header {
    text-align: center;
    padding: 6rem 0;
  }
  
  .textoCentrado {
    text-align: center;
  }
  
  /* Menu, cómo luce  */
  #menu {
    text-align: center;
    margin: 10px auto;
    width: fit-content;
    padding: 10px;
    list-style: none;
  }
  
  /* Fondos y como luce de manera general*/
  body {
    /*márgenes*/
    padding-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
    min-height: 100%;

    /*fondo*/
    background-image: url(resources/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    /*fuentes*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
  }
  
  /* Contenedor en el que están el main y sidebar */
  .container {
    display: flex;
    justify-content: center;   /* Centra el grupo contenedor horizontalmente */
    align-items: flex-start;   /* Alinea por arriba */
    gap: 2rem;                 /* Espacio entre contenido y sidebar */
  }
  
  /* Estilo contenido main */
  .main-content {
    flex: 1;
    padding: 1.5rem;
    text-align: center;
    margin-right: 1rem;
  }

  .descripcion{
    /*fondo*/
    background-image: url(resources/papel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /*efecto chowder*/
    background-size: cover;

    /*borde*/
    border: transparent;
    border-radius: 5px;

    /*texto*/
    align-self: center;
    text-align: center;
    font-size: medium;
    padding: 2rem;
    line-height: 1.5;
    vertical-align: middle;
  }

/*===================*/
/* Bloques personajes */
/*===================*/

/*Sidebar de personajes*/
  .left-sidebar {
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    gap: 1rem;
    justify-content: center;
    align-items: baseline;
    padding: 2rem;
  }
  .left-sidebar li{
    text-align: left;
  }

  /*Definicion de los botones*/
  .botonPersonaje {
    background: transparent;
    border: transparent;

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 100%;

    height: 10rem;
    width: 10rem;

    text-align: center;
    justify-items: end;
  }

.botonPersonaje:hover {
  border: 1px solid black;
  cursor: pointer;
}

/*Definición de cada imagen de personaje*/

#gota {
  background-image: url(resources/box1.png);
}

#sol {
  background-image: url(resources/box2.png);

}

#trebol {
  background-image: url(resources/box3.png);
}

#sinson {
  background-image: url(resources/box4.png);
}

/*Caja de info sobre presonaje*/

.infoPersonaje {
  height: 5rem;
  width: 100%;

  /*fondo*/
  background-image: url(resources/papel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /*efecto chowder*/
  background-size: cover;

  text-align: center;
  padding-top: 4rem;
}

/*=======*/
/*SIDEBAR*/
/*======*/

  /* Sidebar estilos */

  .sidebarWrap{
    display: flex;
    align-items: flex-start;
  }
.sidebar {
    flex: 0 0 200px;

    position: sticky;
    top: 30px;
    padding-bottom: 10px;
    display: flex;
    max-width: 200px;
    flex-direction: column; /* Pone los cuadros en vertical */
    box-sizing: border-box;
}

  /* Bloques individuales dentro del sidebar */
.square {
    padding: 1rem;
    text-align: center;

    background-image: url(resources/papel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /*efecto chowder*/
    background-size: cover;
}

  .square li{
    text-align: left;
    margin-bottom: 15px;
    color: black;
    font-size: medium;
  }
  
  /* Las imágenes se guardan en cuadros para mantener consistencia */
  .square img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }
  .hucha {
    width: 100%;
    height: auto;
  }

  .menu-button:hover{
    cursor: pointer;
  }

  /*=========*/
  /*ABOUT US*/
  /*=========*/

  .caja{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 10rem;
    margin: auto;
    margin-top: 1.5rem;
    padding-bottom: 2rem;
    gap: 2rem;
    justify-content: center;

    /*texto*/
    font-size: medium;
    text-align: center;

    /*fondo*/
    background-image: url(resources/note.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }
  .caja li{
    text-align: left;
  }

  .saber {
    border: transparent; 
    background: transparent;
    cursor: pointer;

    align-self: center;
    width: 35%;
    font-size: medium;
  }

  .saber:hover {
    text-decoration: underline;
  }

.equipo {
    /*representacion de elementos*/
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 1rem;

    /*borde y margen*/
    margin-top: 1.5rem;
    padding: 1rem;

    /*texto*/
    font-size: medium;

    /*fondo*/
    background-image: url(resources/notebook.jpg);
    background-repeat: repeat;
    background-position: top;
    background-attachment: fixed; /*efecto chowder*/
    background-size: cover;
}
    /*hijos de equipo*/

    .equipo > * {
        margin: 1rem;
    }

    .bio {
      border-radius: 0px 25px 25px 0px;
      text-align: center;
      justify-content: center;
      padding: 2.1rem;
      line-height: 1.5;
      height: max-content;
    }

    .head {
      grid-column: 1 / span 2;
      text-align: center;
      line-height: 1.5;
    }

    .foot {
      grid-column: 1 / span 2;
      line-height: 1.5;
    }

    #david{
      background-color: rgb(167, 117, 77);
    }

    #javi {
      background-color: rgb(15, 163, 177);
    }

    #vazquez {
      background-color: rgb(208, 227, 127);
    }

    #marina {
      background-color: rgb(244, 157, 110);
    }

    #pablo {
      background-color: rgb(156, 124, 165);
    }


    /*fotos de perfil*/
.img {
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    height: auto;
}



/*=======*/
/*MUSICA*/
/*=======*/

.musica {
  padding: 0.5rem;
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);


  gap: 4rem;
  align-content: center;
  justify-content: space-around;

  background-image: url(resources/cartulina.png);
  background-repeat: repeat;
  background-position: top;
  background-attachment: fixed; /*efecto chowder*/
  background-size: cover;
}
.bloque-cancion{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

  padding: 1rem;
  gap: 2rem;
  height: auto;
  text-align: center;

  background-image: url(resources/cartulina-morada.png);
  background-size: cover;
}

#musica {
  grid-column: 1 / span 2;
}
  

  /*=======*/
  /*Footer*/
  /*=======*/

  .footer {
    /*Posicion y margen*/
    position: center;
    height: 40px;
    text-align: center;
    align-content: center;

    /*Estilo de letra*/
    color: white;
    background-color: black;
    border-radius: 8px;
  }
  
  /*=====*/
  /*MEDIA*/
  /*=====*/

  /* Para pantallas más pequeñas, estackea verticalmente */
  @media (max-width: 900px) {


    .sidebarWrap {
      flex-direction: column;
    }

    .title {
      background-size: 100%;
    }
    .left-sidebar {
      flex-wrap: wrap;
    }

    .hucha {
      width: 200px;
      align-self: center;
    }

    .equipo {
        grid-template-columns: 30% 70%;
    }

    .musica {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 2fr 2fr;
    }

    #musica {
      grid-column: 1;
    }

    .sidebar{
      align-self: center;
      position: static;
      
    }
  }
  
