html {
    scroll-behavior: smooth;
  }
  
  .title {
    background-image: url(resources/Titulo.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }

  h2 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  
  h3 {
    font-size: 25px;
    text-align: center;
  }
  

  header {
    text-align: center;
    padding: 6rem 0;
  }
  
  .textoCentrado {
    text-align: center;
  }

  .descripcion{
    /*fondo*/
    background-image: url(resources/papel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /*efecto chowder*/
    background-size: cover;

    /*borde*/
    border: transparent;
    border-radius: 5px;

    /*texto*/
    text-align: center;
    font-size: medium;
    padding: 2rem 0;
  }
  
  /* Menu, cómo luce  */
  #menu {
    text-align: center;
    margin: 10px auto;
    width: fit-content;
    padding: 10px;
    list-style: none;
  }
  
  /* Fondos y como luce de manera general*/
  body {
    /*márgenes*/
    padding-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
    min-height: 100%;

    /*fondo*/
    background-image: url(resources/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    /*fuentes*/
    font-family: Arial, sans-serif;
  }
  
  /* Contenedor en el que están el main y sidebar */
  .container {
    display: flex;
    justify-content: center;   /* Centra el grupo contenedor horizontalmente */
    align-items: flex-start;   /* Alinea por arriba */
    gap: 2rem;                 /* Espacio entre contenido y sidebar */
  }
  
  /* Estilo contenido main */
  .main-content {
    flex: 2;
    padding: 1.5rem;
    text-align: center;
  }

/*===================*/
/* Bloques personajes */
/*===================*/

/*Sidebar de personajes*/
  .left-sidebar {
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    gap: 1rem;
    justify-content: center;
    align-items: baseline;
    padding: 2rem;
  }
  .left-sidebar li{
    text-align: left;
  }

  /*Definicion de los botones*/
  .botonPersonaje {
    background: transparent;
    border: transparent;

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: 100%;

    height: 10rem;
    width: 10rem;

    text-align: center;
    justify-items: end;
  }

.botonPersonaje:hover {
  border: 1px solid black;
}

/*Definición de cada imagen de personaje*/

#gota {
  background-image: url(resources/box1.png);
}

#sol {
  background-image: url(resources/box2.png);

}

#trebol {
  background-image: url(resources/box3.png);
}

#sinson {
  background-image: url(resources/box4.png);
}

/*Caja de info sobre presonaje*/

.infoPersonaje {
  height: 5rem;
  width: 100%;

  /*fondo*/
  background-image: url(resources/papel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /*efecto chowder*/
  background-size: cover;

  text-align: center;
  padding-top: 4rem;
}

/*=======*/
/*SIDEBAR*/
/*======*/

  /* Sidebar estilos */
  .sidebar {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;  /* Arrange squares vertically */
    box-sizing: border-box;
  }

  /* Bloques individuales dentro del sidebar */
  .square {
    background: #f7f7f7;
    padding: 1rem;
    text-align: center;
  }

  .square li{
    text-align: left;
    margin-bottom: 15px;
  }
  
  /* Las imágenes se guardan en cuadros para mantener consistencia */
  .square img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }
  .hucha {
    height: 150px;
    /*fondo*/
    background-image: url(resources/cerdito.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
  }

  /*=========*/
  /*ABOUT US*/
  /*=========*/

  .caja{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 10rem;

    text-align: center;
    margin: auto;
    margin-top: 4rem;
    
    /*fondo*/
    background-image: url(resources/note.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }
  .caja li{
    text-align: left;
  }

.equipo {
    /*representacion de elementos*/
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    gap: 2rem;

    /*borde y margen*/
    margin-top: 1rem;
    padding: 1rem;

    /*fondo*/
    background-image: url(resources/notebook.jpg);
    background-repeat: repeat;
    background-position: top;
    background-attachment: fixed; /*efecto chowder*/
    background-size: cover;
}
    /*hijos de equipo*/
    .equipo > * {
        padding: 1rem;
        background-color: aquamarine;
        border-radius: 10px;
        text-align: center;
    }

    /*fotos de perfil*/
.img {
    background-color: transparent;
    border: transparent;
    width: 100%;
    height: auto;
}


  /*=======*/
  /*Footer*/
  /*=======*/

  .footer {
    /*Posicion y margen*/
    position: center;
    height: 40px;
    text-align: center;
    align-content: center;

    /*Estilo de letra*/
    color: white;
    background-color: black;
    border-radius: 8px;
  }
  
  /*=====*/
  /*MEDIA*/
  /*=====*/

  /* Para pantallas más pequeñas, estackea verticalmente */
  @media (max-width: 900px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
    .title {
      background-size: 100%;
    }
    .left-sidebar {
      flex-wrap: wrap;
    }
    .sidebar {
      padding: 20%;
    }
    .hucha {
      width: 200px;
      align-self: center;
    }
  }
  
